body {
    height: 110vh;
    font-family:#ff0000;
    background-image: linear-gradient(to top, #4600e9 0%, #ac0b4e 100%);
}
#container {
    height: 500px;
    width: 500px; 
    background-color:black var(--loging-bg);

}